/* 
 * DiscordMod
 * file: app/splash/index.css
*/

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/whitney-book.woff") format('woff');
  }
  @font-face {
	font-family: Whitney;
	font-style: medium;
	font-weight: 600;
	src: url("../fonts/whitney-medium.woff") format('woff');
  }
  * {
	box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
  }
  body,
  html {
	-webkit-app-region: drag;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 300px;
	height: 300px;
  }
  #splash {
	-webkit-app-region: drag;
	background: #4e1d1d;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	transform: translateZ(0);
	padding-bottom: 40px;
  }
  #splash .splash-inner {
	text-align: center;
  }
  #splash .splash-inner img,
  #splash .splash-inner video {
	size: 200px;
  }
  #splash .splash-inner video {
	visibility: hidden;
  }
  #splash .splash-inner video.loaded {
	visibility: visible;
  }
  #splash .splash-inner > span {
	color: #8a8e94;
	font-size: 12px;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
  }
  #splash .splash-inner > span.quote {
	margin-bottom: 10px;
	color: #fff;
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
  }
  #splash .splash-inner-dl .dice-image {
	position: absolute;
	left: 77px;
	top: 45px;
	width: 146px;
	height: 100px;
	background: url("../images/img_lucky_dice.png") center center no-repeat;
	background-size: 146px 100px;
  }
  #splash .splash-inner-dl .dl-update-message {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-style: medium;
	font-size: 18px;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	top: 169px;
	left: 0;
	margin: 0;
	position: absolute;
	text-align: center;
  }
  #splash .splash-inner-dl .dl-version-message {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-style: medium;
	font-size: 12px;
	color: #8a8e94;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	bottom: 12px;
	left: 0;
	margin: 0;
	text-align: center;
  }
  #splash .splash-inner-dl .dl-select-frame {
	-webkit-app-region: no-drag;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 130px;
	top: 220px;
	left: 0;
	margin: 0;
  }
  #splash .splash-inner-dl .dl-select-frame .Select {
	position: absolute;
	left: 0;
	top: 0;
	width: 165px;
	height: 44px;
	margin-left: 20px;
	margin-right: 10px;
	color: #fff;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-control {
	border: 1px solid;
	border-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	background: #282b30;
	height: 44px;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
	background: #282b30;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-menu {
	max-height: 80px;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-option {
	color: #8a8e94;
	line-height: 15px;
	padding: 5px 10px;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-option.is-focused {
	color: #fff;
	background-color: #697ec4;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-value {
	color: #fff;
	bottom: 0;
	align-items: center;
	display: flex;
  }
  #splash .splash-inner-dl .dl-select-frame .Select-input {
	outline: none;
  }
  #splash .splash-inner-dl .dl-select-frame .dl-button {
	position: absolute;
	left: 195px;
	top: 0;
	width: 85px;
	height: 44px;
	background-color: #7289da;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  #splash .splash-inner-dl .dl-select-frame .dl-button:hover {
	background-color: #697ec4;
  }
  .progress {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  .progress .progress-bar {
	height: 8px;
	border-radius: 4px;
	width: 180px;
	background-color: rgba(255,255,255,0.1);
  }
  .progress .progress-bar .complete {
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 1px 0px 0px rgba(255,255,255,0.1);
	height: 100%;
	background-color: #737f8d;
  }
  .progress-placeholder {
	margin-top: 10px;
	height: 8px;
  }
  